/*////////////////////////////////////////////
//  ggAbbreviationMasks JS/CSS  PlugIn V1.0 //
//  Developed by: Ing.Gerardo Garita J.     //
//                FullStack Developer       //
//  email:  info@ggaritaj.com               //
//  date:       wednesday, 2018-08-18       //
//  last date:  wednesday, 2018-08-18       //
////////////////////////////////////////////*/
/* UNIT ABBREVS : STARTS */
.Abbrev {
    position: relative;
}
    .Abbrev:before {
        height: 40px !important;
        position: absolute;
        font-size: 16px;
        font-weight: bold;
        color: #888;
        margin-top: 10px;
        padding-left: 10px;
        cursor: text;
        z-index: 100;
    }

    .Abbrev.money input,
    .Abbrev.money select {
        padding-right: 10px !important;
        padding-left: 30px !important;
    }
    .Abbrev.money:before {
        left: 5px !important;
    }

    .Abbrev.moneyAlt input,
    .Abbrev.moneyAlt select {
        padding-right: 10px !important;
        padding-left: 30px !important;
    }
    .Abbrev.moneyAlt:before {
        left: 5px !important;
    }

.altitude {
}
.velocity {
}
.temperature {
}
    .altitude:before,
    .velocity:before,
    .temperature:before {
        right: 5px;
    }

.altitude input,
.altitude select,
.velocity input,
.velocity select {
    padding-right: 65px !important
}
.temperature input,
.temperature select {
    padding-right: 15px !important
}

.area {
}
.weight {
}
.percentage {
}
.precipitation {
}
.latitudeLongitude {
}
.distance {
}
.timeYear {
}
.timeMonth {
}
.timeWeek {
}
.timeDay {
}
.timeHour {
}
.time {
}
.money {
}
.moneyAlt {
}
/* UNIT ABBREVS : ENDS */
/* THOUSANDS SEPARATOR : STARTS */
div.thousandsMask {
    position: relative;
}
    div.thousandsMask:before {
        height: 26px !important;
        position: absolute;
        right: 12px;
        font-size: 16px;
        color: #888;
        margin-top: 9px;
        cursor: text;
        z-index: 0;
    }

input.thousandsMask {
    text-align: right;
    color: #FFFFFF !important;
    text-align:right;
}
    input.thousandsMask:focus {
        color: #666 !important;
    }
/* THOUSANDS SEPARATOR : ENDS */