/*////////////////////////////////////////////
//  ggAbbreviationMasks JS/CSS  PlugIn V1.0 //
//  Developed by: Ing.Gerardo Garita J.     //
//                FullStack Developer       //
//  email:  info@ggaritaj.com               //
//  date:       wednesday, 2018-08-19       //
//  last date:  wednesday, 2018-08-19       //
////////////////////////////////////////////*/
/* UNIT ABBREVS : START */
.Abbrev {
    position: relative;
}
.Abbrev:before {
    height: 40px !important;
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    color: #888;
    margin-top: 10px;
    padding-left: 10px;
    cursor: text;
    z-index: 100;
    right: 35px;
    width:0px;
    height:0px;
}

.Abbrev input,
.Abbrev select {
    padding-right: 40px !important
}

.altitude {
}
.velocity {
}
.temperature {
}
.area {
}
.weight {
}
.percentage {
}
.precipitation {
}
.latitude {
}
.longitude {
}
.distance {
}
.time {
}
.money {
}
.moneyAlt {
}

.altitude input,
.altitude select,
.velocity input,
.velocity select {
    padding-right: 65px !important
}

.altitude:before,
.altitude:before,
.velocity:before {
    right: 60px !important
}

.money input,
.money select,
.moneyAlt input,
.moneyAlt select {
    padding-right: 10px !important;
    padding-left: 30px !important;
}

.money:before,
.moneyAlt:before {
    left: 5px !important;
}
/* UNIT ABBREVS : END */

/* THOUSANDS SEPARATOR : START */
div.thousandsMask {
    position: relative;
}
    div.thousandsMask:before {
        height: 26px !important;
        position: absolute;
        right: 12px;
        font-size: 16px;
        color: #888;
        margin-top: 9px;
        cursor: text;
        z-index: 0;
    }

input.thousandsMask {
    text-align: right;
    color: #FFFFFF !important;
    text-align:right;
}
    input.thousandsMask:focus {
        color: #666 !important;
    }
/* THOUSANDS SEPARATOR : END */