@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src:  url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

#mainContainer {
    padding:20px;
}

.myContainer{
    margin-bottom:20px;
}

.custom:before{
    right:90px;
}
.custom input,
.custom select {
    padding-right: 90px !important
}

input.myStyle,
select.myStyle {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 400;
    border: 2px #DDDDDD solid !important;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 100%;
    height: 40px !important;
    border-radius: 0px !important;
    max-height: 48px;
    padding: 0px 10px;
    color: #888;
    font-size: 16px;
    background: #FFFFFF;
    vertical-align: middle;
    outline: 0;
    overflow: hidden;
    text-align:right;
}
    input.myStyle:focus,
    select.myStyle:focus {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
        -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
        -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
        color: #EA8B2C !important;
        outline: 0px;
    }

    input.myStyle:hover,
    select.myStyle:hover {
        border-color: #BCBCBC !important;
    }

    select.myStyle option {
        background-color: #F9F9F9;
        color: #666;
        cursor: pointer;
    }

        select.myStyle option:checked {
            color: #E98A2C !important;
        }